ion-toolbar{

    --background: linear-gradient(90deg, #c4e6e2 0%, #12f7f7 100%);
  }
  .title_welcome{
    //position: relative;
    text-align: center;
    left: 19%;
    font-weight: bold;
  
  
  }
  