<ion-content [fullscreen]="true">

  <ion-text>
      <h1>Lagartixa</h1>
  </ion-text>



  <div class = "login-text">

      <ion-input [(ngModel)]="user_name" class="username"  shape="round" placeholder="Usuário">
      </ion-input>

      <ion-input [(ngModel)]="pass_word" class="password" type="password"  shape="round" placeholder="Senha">
      </ion-input>
  </div>

  <ion-button (click)="login_page()" class = "sigin-btn" shape="round" expand="small">
    <ion-icon  src = "/src/assets/Icones/login.svg" ></ion-icon >
    Entrar</ion-button>




</ion-content>
